-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: sdata
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `nb_tab_grjd_message`
--

DROP TABLE IF EXISTS `nb_tab_grjd_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nb_tab_grjd_message` (
  `id` varchar(36) NOT NULL COMMENT 'primary id',
  `capture_time` timestamp NULL DEFAULT NULL COMMENT 'capture time',
  `msisdn` varchar(20) DEFAULT NULL COMMENT 'phone number',
  `calltype` varchar(4) DEFAULT NULL COMMENT 'call type',
  `message` varchar(1024) DEFAULT NULL COMMENT 'message body',
  `dt` bigint DEFAULT NULL COMMENT 'data date (yyyymmdd)'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='message detail table';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nb_tab_grjd_message`
--

LOCK TABLES `nb_tab_grjd_message` WRITE;
/*!40000 ALTER TABLE `nb_tab_grjd_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `nb_tab_grjd_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nb_tab_grjd_summary`
--

DROP TABLE IF EXISTS `nb_tab_grjd_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nb_tab_grjd_summary` (
  `id` varchar(36) NOT NULL COMMENT 'id',
  `type` varchar(8) DEFAULT NULL COMMENT 'clue type',
  `msisdn_1` varchar(20) DEFAULT NULL COMMENT 'phone number 1',
  `msisdn_2` varchar(20) DEFAULT NULL COMMENT 'phone number 2',
  `cnt` decimal(8,0) DEFAULT NULL COMMENT 'message count',
  `cnt_dt` decimal(2,0) DEFAULT NULL COMMENT 'active days in 10d',
  `message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'message context',
  `summary` varchar(1024) DEFAULT NULL COMMENT 'ai summary',
  `score` double(8,2) DEFAULT NULL COMMENT 'risk score',
  `qklx` varchar(255) DEFAULT NULL COMMENT 'record type',
  `label2` varchar(255) DEFAULT NULL COMMENT 'peer label',
  `user_id` varchar(32) DEFAULT NULL COMMENT 'user id',
  `user_name` varchar(8) DEFAULT NULL COMMENT 'user name',
  `status` int DEFAULT '0' COMMENT 'status',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'updated at',
  `region` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '地区',
  `info` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '信息',
  `dt` date DEFAULT NULL COMMENT 'data date',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='summary table';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nb_tab_grjd_summary`
--

LOCK TABLES `nb_tab_grjd_summary` WRITE;
/*!40000 ALTER TABLE `nb_tab_grjd_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `nb_tab_grjd_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'sdata'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-17 23:51:41
