-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: wxzdb
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `feedback`
--

DROP TABLE IF EXISTS `feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback` (
  `id` varchar(100) NOT NULL COMMENT 'id',
  `feedback_content` varchar(2000) NOT NULL COMMENT '反馈内容',
  `feedback_userId` varchar(100) NOT NULL COMMENT '反馈人',
  `feedback_time` varchar(100) NOT NULL COMMENT '反馈时间',
  `mid` varchar(100) NOT NULL COMMENT '与动态获得的表格id一致',
  `feedback_username` varchar(100) NOT NULL COMMENT 'user名字',
  `appEname` varchar(100) NOT NULL COMMENT 'appEname',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='反馈信息';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feedback`
--

LOCK TABLES `feedback` WRITE;
/*!40000 ALTER TABLE `feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feedback2nb_tab_grjd_feedback_history`
--

DROP TABLE IF EXISTS `feedback2nb_tab_grjd_feedback_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback2nb_tab_grjd_feedback_history` (
  `source_feedback_id` varchar(100) NOT NULL,
  `feedback_id` bigint unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`source_feedback_id`),
  KEY `idx_feedback_id` (`feedback_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feedback2nb_tab_grjd_feedback_history`
--

LOCK TABLES `feedback2nb_tab_grjd_feedback_history` WRITE;
/*!40000 ALTER TABLE `feedback2nb_tab_grjd_feedback_history` DISABLE KEYS */;
INSERT INTO `feedback2nb_tab_grjd_feedback_history` VALUES ('5328cc296dd40317ca0955445bc3a4da',1,'2026-04-28 15:34:09'),('d2750ef93abe166fe220384e23f9618a',2,'2026-04-28 15:34:09'),('dd45b8bc88aa59196090fbd2bb728fe7',3,'2026-04-28 15:34:09');
/*!40000 ALTER TABLE `feedback2nb_tab_grjd_feedback_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grjd_distribute`
--

DROP TABLE IF EXISTS `grjd_distribute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grjd_distribute` (
  `clue_id` varchar(64) NOT NULL,
  `level` varchar(128) NOT NULL,
  `assign_to` varchar(64) NOT NULL,
  `model_name` varchar(128) NOT NULL,
  `tag` varchar(64) NOT NULL,
  `assigned_time` datetime NOT NULL,
  `remark` text,
  `dt` varchar(8) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`clue_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grjd_distribute`
--

LOCK TABLES `grjd_distribute` WRITE;
/*!40000 ALTER TABLE `grjd_distribute` DISABLE KEYS */;
INSERT INTO `grjd_distribute` VALUES ('12330964780-12358909038-20260401','【学生线索】test','GCL','model1','推送治安','2026-05-17 20:17:05',NULL,NULL);
/*!40000 ALTER TABLE `grjd_distribute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grjdmxjg_za`
--

DROP TABLE IF EXISTS `grjdmxjg_za`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grjdmxjg_za` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'id',
  `is_feedback` bit(1) DEFAULT b'0',
  `create_time` datetime NOT NULL,
  `appEname` varchar(50) NOT NULL,
  `jfhm` varchar(500) DEFAULT NULL,
  `jfsfzh` varchar(500) DEFAULT NULL,
  `jfzdrlx` varchar(500) DEFAULT NULL,
  `ddhm` varchar(500) DEFAULT NULL,
  `dfsfzh` varchar(500) DEFAULT NULL,
  `dfzdrlx` varchar(500) DEFAULT NULL,
  `zj` varchar(500) DEFAULT NULL,
  `fz` varchar(500) DEFAULT NULL,
  `jgrq` varchar(500) DEFAULT NULL,
  `fxdj` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grjdmxjg_za`
--

LOCK TABLES `grjdmxjg_za` WRITE;
/*!40000 ALTER TABLE `grjdmxjg_za` DISABLE KEYS */;
/*!40000 ALTER TABLE `grjdmxjg_za` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nb_tab_grjd_feedback_history`
--

DROP TABLE IF EXISTS `nb_tab_grjd_feedback_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nb_tab_grjd_feedback_history` (
  `feedback_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `clue_id` varchar(64) NOT NULL,
  `feedback_content` text NOT NULL,
  `feedback_userId` varchar(64) DEFAULT NULL,
  `feedback_username` varchar(64) DEFAULT NULL,
  `remark` text,
  `feedback_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`feedback_id`),
  KEY `idx_feedback_id_time` (`clue_id`,`feedback_time`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nb_tab_grjd_feedback_history`
--

LOCK TABLES `nb_tab_grjd_feedback_history` WRITE;
/*!40000 ALTER TABLE `nb_tab_grjd_feedback_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `nb_tab_grjd_feedback_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nb_tab_grjd_workflow_state`
--

DROP TABLE IF EXISTS `nb_tab_grjd_workflow_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nb_tab_grjd_workflow_state` (
  `id` varchar(64) NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT '待核查',
  `level` varchar(32) DEFAULT NULL,
  `remark` text,
  `mark_tag` varchar(64) DEFAULT NULL,
  `distribute` varchar(64) NOT NULL DEFAULT '',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nb_tab_grjd_workflow_state`
--

LOCK TABLES `nb_tab_grjd_workflow_state` WRITE;
/*!40000 ALTER TABLE `nb_tab_grjd_workflow_state` DISABLE KEYS */;
/*!40000 ALTER TABLE `nb_tab_grjd_workflow_state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'wxzdb'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-18  0:04:23
