-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: wxzdb
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `feedback`
--

LOCK TABLES `feedback` WRITE;
/*!40000 ALTER TABLE `feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `feedback2nb_tab_grjd_feedback_history`
--

LOCK TABLES `feedback2nb_tab_grjd_feedback_history` WRITE;
/*!40000 ALTER TABLE `feedback2nb_tab_grjd_feedback_history` DISABLE KEYS */;
INSERT INTO `feedback2nb_tab_grjd_feedback_history` VALUES ('5328cc296dd40317ca0955445bc3a4da',1,'2026-04-28 15:34:09'),('d2750ef93abe166fe220384e23f9618a',2,'2026-04-28 15:34:09'),('dd45b8bc88aa59196090fbd2bb728fe7',3,'2026-04-28 15:34:09');
/*!40000 ALTER TABLE `feedback2nb_tab_grjd_feedback_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `grjd_distribute`
--

LOCK TABLES `grjd_distribute` WRITE;
/*!40000 ALTER TABLE `grjd_distribute` DISABLE KEYS */;
INSERT INTO `grjd_distribute` VALUES ('12330964780-12358909038-20260401','【学生线索】test','GCL','model1','推送治安','2026-05-17 20:17:05',NULL,NULL);
/*!40000 ALTER TABLE `grjd_distribute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `grjdmxjg_za`
--

LOCK TABLES `grjdmxjg_za` WRITE;
/*!40000 ALTER TABLE `grjdmxjg_za` DISABLE KEYS */;
/*!40000 ALTER TABLE `grjdmxjg_za` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `nb_tab_grjd_feedback_history`
--

LOCK TABLES `nb_tab_grjd_feedback_history` WRITE;
/*!40000 ALTER TABLE `nb_tab_grjd_feedback_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `nb_tab_grjd_feedback_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `nb_tab_grjd_workflow_state`
--

LOCK TABLES `nb_tab_grjd_workflow_state` WRITE;
/*!40000 ALTER TABLE `nb_tab_grjd_workflow_state` DISABLE KEYS */;
/*!40000 ALTER TABLE `nb_tab_grjd_workflow_state` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-18  0:37:09
